.section {
   
    display: grid;
    
    grid-template-columns: repeat(auto-fit, 240px);
    grid-template-rows: auto;
    grid-template-areas: "section-header section-header section-header"
                         "section-usage section-description .";
                         
    grid-gap: .5rem;

    
        
  }
  
  .section-header{
    grid-area: section-header;
    text-align: center;
  }
  
  .section-usage{
    grid-area: section-usage;
    font-weight: bold;
    background-color: #fdfdfd;
  }
  .section-description{
    grid-area: section-description;
    justify-self: start;
  }
  
  
  
  
  button {
      background: none!important;
      border: none;
      padding: 0!important;
      /*optional*/
      font-family: Merriweather, Roboto;
      font-size: 12pt;
      /*input has OS specific font-family*/
      color: #069;
      text-decoration: underline;
      cursor: pointer;
  }